<a href="https://colab.research.google.com/github/yeokyungkim/hello-world-/blob/main/session4_nataliakim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
firstchild = "Gemma Kang"
print(firstchild.upper())
secondchild = "Ella Kang"
print(secondchild.lower())
age = ("9","5")
age = age.split(",")
variable_txt = "My first Child is" + firstchild + " and She is" + age (0) + " years old."
print(variable_txt)

GEMMA KANG
ella kang

TypeError: ignored

In [ ]:
a = 10
b = 15
if b > a:
  print ("b is greater than a")
elif a == b:
  print ("b is equal to a")

b is greater than a

In [ ]:
#age assignment 
age = 39
year = 2021

#testing if my age is smaller than current year 
if age < year:
  print ("My age is 39.")
else: 
  print ("I lost track of my age.")

My age is 39.

In [ ]:
age = 39
myage = 30
if age > myage or age < myage:
  print("my age is ")

In [98]:
#nested if test
age_to_test= 9
my_daughters_age = 9

#testing if her age is meeting below conditions
if age_to_test > my_daughters_age or age_to_test < my_daughters_age:
  print ("My daughter is younger or order than age_to_test.")

#testing if age_to_test is younger than my daughter's age
  if age_to_test < my_daughters_age:        
   print("My daughter is older.")

#testing if age_to_test is older than my daughter's age
  if age_to_test > my_daughters_age:
   print("My daughter is younger.")

#testing if it is same as my daughter's age
   if age_to_test == my_daughters_age:
    print("Yes, it is her age.")

SyntaxError: ignored

In [ ]:
age = 39
if age <40:
  print ("I am still in my 30s.")

I am still in my 30s.

In [ ]:
a = 1
b = 2
if a!= b:
  print("a = b")
else:
  print("a is not equal to b.")

a = b

In [ ]:
a = 1
b = 2
if a > b:
  print ("true")
else:
  print ("false")

false